header {
    border-bottom: 2px solid #aaaaaa5c;
    padding: 20px 0;
}

.header__login-button {
    border: 1px solid black;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 3px 0;
    text-align: center;
}
.header__login-button img {
    width: 30px;
}

.header__left-area,
.header__right-area {
    width: 50%;
    display: flex;
    justify-content: center;
}