.mobile-header {
    display: flex;
    flex-direction: column;
}
.bm-item-list {
    margin-left: 0;
}

.center__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.center__title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center__title h2 {
    margin: 0;
}

.center__router {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-direction: column;
}

.center__user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}