.header__mobile {
    height: 70px;
    position: relative;
        .mobile-header {
            flex-direction: column;
            padding: 0!important;
                .center__logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                }
                
                .center__title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                    .mr10 {
                        margin-right: 10px;
                    }
                    h2 {
                        margin: 0;
                        color: black;
                    }
                    span {
                        margin: 0;
                        color: black;
                    }
                }
                
                .center__router {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                    flex-direction: column;
                    .nav-link {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
                .center__user-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .modal {
                    padding-top: 0;
                        .modal-content {
                            margin: 50px auto;
                            max-height: 240px;
                        }
                }
        }
}