.mobile-header {
    display: none;
    background: #ccc;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 300px;
    position: fixed;
    padding-top: 30px;
}

.mobile-header .nav-link {
    margin-right: 0;
}

.center__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.center__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.center__title h2 {
    margin: 0;
}

.center__router {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center__user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.center__router .nav-link {
    margin-bottom: 10px;
}

.mr10 {
    margin-right: 10px;
}


@media (max-width: 992px) {
    .mobile-header {
        display: block!important;
    }
}