.modal-content__user-info {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 0;
    border: 1px solid #888;
    max-width: 320px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    ul {
        list-style: none;
        padding: 0;
    }
    h2 {
        text-align: center;
        color: #b71c1c;
    }
}