.header__mobile {
    height: 70px;
    position: relative;
    .modal {
        padding-top: 0;
            .modal-content {
                margin: 80px auto;
                max-height: 240px;
                max-width: 90%;
            }
    }
    .mobile-header {
        flex-direction: column;
        padding: 0!important;
        .center__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
        .center__title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            .mr10 {
                margin-right: 10px;
            }
            h2 {
                margin: 0;
                color: black;
            }
            span {
                margin: 0;
                color: black;
            }
        }
        .center__router {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            flex-direction: column;
            .nav-link {
                margin-right: 0;
                margin-bottom: 15px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 15px;
                &:hover {
                    color: #b71c1cd1;
                    transition: 0.5s;
                }
            }
            .router-link-active {
                color: #b71c1c
            }
        }
        .center__user-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            .locale-changer {
                margin-right: 30px;
                select {
                    padding: 3px 5px;
                    border: 1px solid #00000063;
                    &:focus {
                        outline: none;
                    }
                }
            }
            .header__login-button {
                border: none;
                background: transparent;
                cursor: pointer;
                img {
                    width: 30px;
                }
            }
        }
    }
}